spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/insticab
spring.datasource.username=root
spring.datasource.password=Admin@123
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=