<footer th:fragment="footer" class="footer position-absolute">
	<div class="container">
		<div class="row align-items-center justify-content-lg-between">
			<div class="col-12 col-md-12 my-auto">
				<div class="copyright text-center text-sm text-dark text-lg-center">
					&copy;
					<script>
						document.write(new Date().getFullYear().toString() + ", ");
					</script>
					Made using
					<!-- <i class="fab fa-java" aria-hidden="true"></i> -->
					<img
						th:src="@{/images/spring.png}"
						alt="Spring boot"
						data-toggle="tooltip"
						data-placement="bottom"
						title="Spring Boot"
						width="20px"
					/>
					in India
				</div>
			</div>
		</div>
	</div>
</footer>
