<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
	<header id="header" class="fixed-top ">
		<div class="container d-flex align-items-center justify-content-lg-between">

			<h1 class="logo me-auto me-lg-0"><a th:href="@{/}">IC<span>.</span></a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

			<nav id="navbar" class="navbar order-last order-lg-0">
				<ul>
					<li><a class="nav-link scrollto" th:href="@{/}">Home</a></li>
					<li><a class="nav-link scrollto" th:href="@{/register/driver/}"> Register as Driver</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<a class="get-started-btn scrollto" th:href="@{/login/}">Login</a>
		</div>
	</header>
	<section id="hero" class="d-flex align-items-center justify-content-center">

	<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-8 col-12 mx-auto">
						<div class="card z-index-0 fadeIn3 fadeInBottom">
							<div class="card-body bg-gradient-secondary text-center">
								<span class="display-1 d-block text-white">403</span>
								<div class="mb-4 lead text-white-50">
									We are sorry, but this page needs high level authorization.
								</div>
								<a th:href="@{/}" class="btn btn-info font-weight-bold">Back to Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="/assets/vendor/aos/aos.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/assets/js/main.js"></script>
		<script th:replace="components/toast :: toast"></script>
	<footer th:replace="components/footer::footer"></footer>
	</body>

</html>
