<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
	<div
			class="page-header align-items-start min-vh-100"
			loading="lazy"
	>
		<header class="curved-header">
			<div class="logo">
				<a th:href="@{/}">Logo</a>
			</div>
			<ul class="nav-links">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/about/}">About Us</a></li>
				<li><a th:href="@{/services/}">Services</a></li>
				<li><a th:href="@{/pricing/}">Pricing</a></li>
				<li><a th:href="@{/contact/}">Contact</a></li>
			</ul>
		</header>
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-12 col-md-8 col-12 mx-auto">
					<div class="card z-index-0 fadeIn3 fadeInBottom">
						<div class="card-body bg-gradient-secondary text-center">
							<span class="display-1 d-block text-white">404</span>
							<div class="mb-4 lead text-white-50">The page you are looking for was not found.</div>
							<a th:href="@{/}" class="btn btn-info font-weight-bold">Back to Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar fixed-bottom">
			<footer th:replace="components/footer :: footer"></footer>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
