<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body loading="lazy">
		<nav class="navbar navbar-expand-lg bg-dark">
			<div class="container-fluid">
				<a class="navbar-item text-light" href="#">InstiCab</a>
				<button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a th:href="@{/}" class="nav-link active text-light" aria-current="page">Home</a>
						</li>
						<li class="nav-item text-light">
							<a th:href="@{/about/}" class="nav-link text-light">About</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/contact}" class="nav-link text-light">Contact</a>
						</li>
					</ul>
					<ul class="navbar-nav me-0 mb-2 mb-lg-0">
						<li class="nav-item ">
							<a th:href="@{/logout/}" class="nav-link active text-light" aria-current="page">
								<button type="button" class="btn btn-light">Logout</button>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<br />
		<div class="page-header align-items-start min-vh-100 mt-7" loading="lazy">
			<div class="container my-auto">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12 mx-auto">
						<div class="card z-index-0 fadeIn3 fadeInBottom">
							<div class="card-body bg-gradient-secondary text-center">
								<h1>ALL Pending Registration Requests</h1>
								<div th:if="${requestList eq null or #lists.size(requestList) eq 0}">
									No Pending Requests found! <br />
								</div>
								<table
									class="table table-dark table-striped"
									th:if="${requestList ne null and #lists.size(requestList) ne 0}"
								>
									<thead class="thead-dark">
										<tr>
											<th scope="col">requestId</th>
											<th scope="col">timeApplied</th>
											<th scope="col">dateApplied</th>
											<th scope="col">status</th>
											<th scope="col">timeAccepted</th>
											<th scope="col">dateAccepted</th>
											<th scope="col">driverId</th>
										</tr>
									</thead>
									<tbody class="text-white">
										<tr th:each="request:${requestList}">
											<td th:text="${request.requestId}"></td>
											<td th:text="${request.timeApplied}"></td>
											<td th:text="${request.dateApplied}"></td>
											<td th:text="${request.status}"></td>
											<td th:text="${request.timeAccepted}"></td>
											<td th:text="${request.dateAccepted}"></td>
											<td th:text="${request.driverId}"></td>
											<td>
												<form method="POST" th:action="@{/admin/accept/__${request.driverId}__/}">
													<button type="submit" class="btn btn-success" >Accept</button>
												</form>
											</td>
											<td>
												<form method="POST"
													  th:action="@{/admin/reject/__${request.driverId}__/}">
													<button type="submit" class="btn btn-danger" >Reject</button>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="components/footer :: footer"></footer>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
