<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body loading="lazy">
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a th:href="@{/}">IC<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" th:href="@{/}">Home</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <a class="get-started-btn scrollto" th:href="@{/logout/}">Logout</a>
  </div>
</header>
<br />
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="page-header align-items-start min-vh-100 mt-7" loading="lazy">
  <div class="container my-auto">
    <div class="row g-7">
      <div class="col-lg-12 col-md-12 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-body bg-gradient-secondary text-center">
            <h1>Disputes</h1>
            <div th:if="${disputesList eq null or #lists.size(disputesList) eq 0}">
              No Disputes found ! <br />
            </div>
            <table
                    class="table table-dark table-striped"
                    th:if="${disputesList ne null and #lists.size(disputesList) ne 0}"
            >
              <thead class="thead-dark">
              <tr>
                <th scope="col">disputeId</th>
                <th scope="col">transactionId</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody class="text-white">
              <div th:each="request:${disputesList}">
                <tr>
                  <td th:text="${request.disputeId}"></td>
                  <td th:text="${request.transactionId}"></td>
                  <td th:text="${request.description}"></td>
                  <td>

                    <form th:if="${request.status eq 0}" method="POST"
                          th:action="@{/admin/disputes/accept/__${request.disputeId}__/__${request.transactionId}__/}">
                      <button type="submit" class="btn btn-success" >Accept</button>
                    </form>
                    <form th:if="${request.status eq 0}" method="POST"
                          th:action="@{/admin/disputes/reject/__${request.disputeId}__/__${request.transactionId}__/}">
                      <button type="submit" class="btn btn-danger" >Reject</button>
                    </form>

                  </td>

                </tr>
              </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="components/footer :: footer"></footer>
</div>
</section>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script th:replace="components/toast :: toast"></script>
</body>
</html>
