<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
		<nav class="navbar navbar-expand-lg bg-dark">
			<div class="container-fluid">
				<a class="navbar-item text-light" href="#">InstiCab</a>
				<button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a th:href="@{/}" class="nav-link active text-light" aria-current="page">Home</a>
						</li>
						<li class="nav-item text-light">
							<a th:href="@{/about/}" class="nav-link text-light">About</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/contact}" class="nav-link text-light">Contact</a>
						</li>
					</ul>
					<ul class="navbar-nav me-0 mb-2 mb-lg-0">
						<li class="nav-item ">
							<a th:href="@{/logout/}" class="nav-link active text-light" aria-current="page">
								<button type="button" class="btn btn-light">Logout</button>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div
			class="page-header align-items-start min-vh-100"
			loading="lazy"
		>
			<span class="mask bg-light opacity-6"></span>
			<div class="container my-auto">
				<div class="row">
					<div class="col-lg-4 col-md-8 col-12 mx-auto">
						<div class="card z-index-0 fadeIn3 fadeInBottom">
							<div class="card-body bg-gradient-secondary text-center">
								<br />
								<div th:if="${isAdmin ne null}">
									<a th:href="@{/admin/}" class="btn bg-gradient-danger w-auto me-2">Admin</a>
									<br />
									<br />
								</div>

								<div th:if="${isPassenger ne null}">
									<a th:href="@{/passenger/newTrip/}" class="btn bg-gradient-success w-auto me-2">New
										Trip</a>
									<br />
									<a th:href="@{/passenger/newScheduledTrip/}"
									   class="btn bg-gradient-success w-auto me-2">New
										Scheduled Trip</a>
									<br />
									<a th:href="@{/passenger/newTripStatus/}" class="btn bg-gradient-warning w-auto me-2">My
										Trips</a>
									<br />
									<a th:href="@{/passenger/transaction/}" class="btn bg-gradient-info w-auto me-2">My
										Transactions</a>
									<br />
									<br />
								</div>

								<div th:if="${isDriver ne null}">
								<a th:href="@{/myorders/}" class="btn bg-gradient-success w-auto me-2">My Orders</a>
								<br />
								<br />
								<a th:href="@{/myshops/}" class="btn bg-gradient-warning w-auto me-2">My Shops</a>
								</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="components/footer :: footer"></footer>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
