<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
	<div
			class="page-header align-items-start min-vh-100"
			loading="lazy"
	>
		<header class="curved-header">
			<div class="logo">
				<a th:href="@{/}">Logo</a>
			</div>
			<ul class="nav-links">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/about/}">About Us</a></li>
				<li><a th:href="@{/services/}">Services</a></li>
				<li><a th:href="@{/pricing/}">Pricing</a></li>
				<li><a th:href="@{/contact/}">Contact</a></li>
				<li><a th:href="@{/logout/}">Logout</a></li>
			</ul>
		</header>
			<div class="container my-auto">
				<div class="row">
					<div class="col-lg-4 col-md-8 col-12 mx-auto">
						<div class="card">
							<div class="card-body bg-gradient-secondary text-center">
								<br />
								<div th:if="${isAdmin ne null}">
									<a th:href="@{/admin/}" class="btn bg-gradient-danger w-auto me-2">Admin</a>
									<br />
									<br />
								</div>

								<div th:if="${isPassenger ne null}">
									<a th:href="@{/passenger/newTrip/}" class="btn bg-gradient-success w-auto me-2">New
										Trip</a>
									<br />
									<a th:href="@{/passenger/newScheduledTrip/}"
									   class="btn bg-gradient-success w-auto me-2">New
										Scheduled Trip</a>
									<br />
									<a th:href="@{/passenger/newTripStatus/}" class="btn bg-gradient-warning w-auto me-2">My
										Trips</a>
									<br />
									<a th:href="@{/passenger/transaction/}" class="btn bg-gradient-info w-auto me-2">My
										Transactions</a>
									<br />
									<br />
								</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="navbar fixed-bottom">
			<footer th:replace="components/footer :: footer"></footer>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
