<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body class="sign-in-basic">
		<nav class="navbar navbar-expand-lg bg-dark">
			<div class="container-fluid">
				<a class="navbar-item text-light" href="#">InstiCab</a>
				<button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a th:href="@{/}" class="nav-link active text-light" aria-current="page">Home</a>
						</li>
						<li class="nav-item text-light">
							<a th:href="@{/about/}" class="nav-link text-light">About</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/contact}" class="nav-link text-light">Contact</a>
						</li>
					</ul>
					<ul class="navbar-nav me-0 mb-2 mb-lg-0">
						<li class="nav-item ">
							<a th:href="@{/register/driver}" class="nav-link active text-light" aria-current="page">
								<button type="button" class="btn btn-info">Register as Driver</button>
							</a>
						</li>
						<li class="nav-item ">
							<a th:href="@{/register/passenger}" class="nav-link active text-light" aria-current="page">
								<button type="button" class="btn btn-info">Register as User</button>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div
			class="page-header align-items-start min-vh-100"
			loading="lazy"
		>
			<span class="mask bg-light opacity-6"></span>
			<div class="container my-auto">
				<br />
				<div class="row">
					<div class="col-lg-4 col-md-8 col-12 mx-auto">
						<div class="card z-index-0 fadeIn3 fadeInBottom">
							<div class="card-body">
								<div class="text-center">
									<h3>
										InstiCab
										<small class="text-muted">| Login</small>
									</h3>
								</div>
								<form role="form" class="text-start" method="POST" th:action="@{/login/}" autocomplete="off">
									<div class="input-group input-group-outline my-3">
										<label class="form-label">Username *</label>
										<input type="text" class="form-control" name="username" required />
									</div>
									<div class="input-group input-group-outline mb-3">
										<label class="form-label">Password *</label>
										<input type="password" class="form-control" name="password" required />
									</div>

									<div class="text-center">
										<input type="submit" value="Login" class="btn bg-gradient-primary w-100 my-4 mb-2" />
									</div>
									<p class="mt-4 text-sm text-center">
										Don't have an account?
										<a th:href="@{/register/passenger}"
										   class="text-primary text-gradient font-weight-bold"
											>Register as User</a
										>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="components/footer :: footer"></footer>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
