<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body class="sign-in-basic">
	<div
			class="page-header align-items-start min-vh-100"
			loading="lazy"
	>
		<header class="curved-header">
			<div class="logo">
				<a th:href="@{/}">Logo</a>
			</div>
			<ul class="nav-links">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/about/}">About Us</a></li>
				<li><a th:href="@{/services/}">Services</a></li>
				<li><a th:href="@{/pricing/}">Pricing</a></li>
				<li><a th:href="@{/contact/}">Contact</a></li>
			</ul>
		</header>
			<div class="container my-auto">
				<br />
				<div class="row">
					<div class="col-lg-4 col-md-8 col-12 mx-auto">
						<div class="card z-index-0 fadeIn3 fadeInBottom">
							<div class="card-body">
								<div class="text-center">
									<h3>
										InstiCab
										<small class="text-muted">| Login</small>
									</h3>
								</div>
								<form role="form" class="text-start" method="POST" th:action="@{/login/}" autocomplete="off">
									<div class="input-group input-group-outline my-3">
										<label class="form-label">Username *</label>
										<input type="text" class="form-control" name="username" required />
									</div>
									<div class="input-group input-group-outline mb-3">
										<label class="form-label">Password *</label>
										<input type="password" class="form-control" name="password" required />
									</div>

									<div class="text-center">
										<input type="submit" value="Login" class="btn bg-gradient-primary w-100 my-4 mb-2" />
									</div>
									<p class="mt-4 text-sm text-center">
										Don't have an account?
										<a th:href="@{/register/passenger}"
										   class="text-primary text-gradient font-weight-bold"
											>Register as User</a
										>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div></div>
		<div class="navbar fixed-bottom">
			<footer th:replace="components/footer :: footer"></footer>
		</div>
			<script th:replace="components/toast :: toast"></script>
	</body>
</html>
