<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="components/head::head"></head>
<body class="sign-in-basic">
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a th:href="@{/}">IC<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" th:href="@{/}">Home</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <a class="get-started-btn scrollto" th:href="@{/logout/}">Logout</a>
  </div>
</header>
<section id="hero" class="d-flex align-items-center justify-content-center">

  <div class="container my-auto">
    <br />
    <div class="row">
      <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-body">
            <div class="text-center">
              <h3>
                InstiCab
                <small class="text-muted">| New Coupon</small>
              </h3>
            </div>
            <form
                    role="form"
                    autocomplete="off"
                    class="text-start"
                    method="POST"
                    th:action="@{/admin/grantCoupon}"
            >
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Max Discount *</label>
                <input
                        type="text"
                        class="form-control"
                        name="maxDiscount"
                        required
                />
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Coupon Validity *</label>
                <input
                        type="date"
                        class="form-control"
                        name="couponValidity"
                        required
                />
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Since Date *</label>
                <input
                        type="date"
                        class="form-control"
                        name="sinceDate"
                        required
                />
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-label">No. of Coupons *</label>
                <input
                        type="text"
                        class="form-control"
                        name="numCoupons"
                        required
                />
              </div>

              <div class="text-center">
                <input type="submit" value="Add Coupon" class="btn bg-gradient-primary w-100 my-4 mb-2" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<footer th:replace="components/footer::footer"></footer>
</body>
</html>