<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<script src="https://apis.mapmyindia.com/advancedmaps/v1/f58efe742d0caa4d25320dd851351674/map_load?v=1.5">
</script>
<script src="https://apis.mapmyindia.com/advancedmaps/api/f58efe742d0caa4d25320dd851351674/map_sdk_plugins">
</script>
<script>
  function hide1(){
    const var3=document.getElementById("location1");
    const var1=document.getElementById("startLocation");
    const var2=document.getElementById("endLocation");
    const var4=document.getElementById("locationsLabel1");
    if(var3.checked){
      var1.classList.add("d-none");
      var4.classList.remove("d-none");
    }
    else{
      var1.classList.remove("d-none");
      var4.classList.add("d-none");
    }
  }
  function hide2(){
    const var3=document.getElementById("location2");
    const var1=document.getElementById("startLocation");
    const var2=document.getElementById("endLocation");
    const var4=document.getElementById("locationsLabel2");
    const var5=document.getElementById("addDestFav");
    const var6=document.getElementById("favAdd");
    if(var3.checked){
      var2.classList.add("d-none");
      var4.classList.remove("d-none");
      var5.classList.add("d-none");
      var6.value = false;
    }
    else{
      var2.classList.remove("d-none");
      var4.classList.add("d-none");
      var5.classList.remove("d-none");

    }
  }

   function addInputField() {
    const temp1 = document.getElementById("addFavLoc");
    const temp2 = document.getElementById("destination1");
    if(temp1.checked) {
      temp2.classList.remove("d-none");
    }
    else {
      temp2.classList.add("d-none");
     }
  }

  function setToLocation(){
    const x = document.getElementById("toLocations").value;
    const arr = x.split(" ");

     var lat = document.getElementById("trip.endLatitude");
      var lng = document.getElementById("trip.endLongitude");

      lat.value = arr[0];
      lng.value = arr[1];

  }

  function setFromLocation(){
      var x = document.getElementById("fromLocations").value;
      const arr = x.split(" ");

      var lat = document.getElementById("trip.startLatitude");
      var lng = document.getElementById("trip.startLongitude");

      lat.value = arr[0];
      lng.value = arr[1];
  }
</script>
<style>
            #map{
            height: 75vh;padding: 0;
        }
        </style>
<body loading="lazy">
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a th:href="@{/}">IC<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" th:href="@{/}">Home</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <a class="get-started-btn scrollto" th:href="@{/logout/}">Logout</a>
  </div>
</header>
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container my-auto">
    <br />
    <div class="row">
      <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-body">
            <div class="text-center">
              <h3>
                New Trip
              </h3>
            </div>
            <form role="form" class="text-start" method="POST" th:action="@{/passenger/newScheduledTrip}"
                  th:object="${tripDetails}" autocomplete="off">

              <div class="d-none row">
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">From Latitude</label>
                  <input type="text" class="form-control" name="fromLatitude" th:field="*{trip.startLatitude}" required />
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">From Longitude</label>
                  <input type="text" class="form-control" name="fromLongitude" th:field="*{trip.startLongitude}" required />
                </div>

              </div>

              <div class="d-none row">
                <div class="col input-group input-group-outline my-3">
                  <label class="form-label">To Latitude</label>
                  <input type="text" class="form-control" name="toLatitude" th:field="*{trip.endLatitude}" required />
                </div>
                <div class="col input-group input-group-outline my-3">
                  <label class="form-label">To Longitude</label>
                  <input type="text" class="form-control" name="toLongitude" th:field="*{trip.endLongitude}" required />
                </div>

              </div>
              <div class="row">
                <div class="col input-group input-group-outline my-3" id ="startLocation" >
                  <button type="button" class="col btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal"
                          onclick="changeVal(1)">
                    Select From Location
                  </button>
                </div>
                <div class="col input-group input-group-outline my-3 d-none" id="locationsLabel1">
                  <label for="fromLocations">Choose a location:</label>
                  <select name="locations" id="fromLocations" onchange="setFromLocation()">
                    <option th:each="loc:${tripDetails.favouriteLocationsList}"
                            th:value="${loc.latitudeLocation}+' '+${loc.longitudeLocation}"><span
                            th:text="${loc.label}"></span></option>
                  </select>
                </div>
                <div class="col input-group input-group-outline my-3" >
                  <input id="location1" type="checkbox"name="location1" value="location1" onchange="hide1()">
                  <label for="location1"> Select from fav location</label><br>
                </div>
              </div>
              <div class="row">
                <div class="col input-group input-group-outline my-3" id ="endLocation">
                  <button type="button" id="endLocation" class="col btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal"
                          onclick="changeVal(0)">
                    Select To Location
                  </button>
                </div>
                <div class="col input-group input-group-outline my-3 d-none" id="locationsLabel2">
                  <label for="toLocations">Choose a location:</label>

                  <select name="locations" id="toLocations" onchange="setToLocation()">
                    <option th:each="loc:${tripDetails.favouriteLocationsList}"
                            th:value="${loc.latitudeLocation}+' '+${loc.longitudeLocation}"><span
                            th:text="${loc.label}"></span></option>
                  </select>
                </div>
                <div class="col input-group input-group-outline my-3">
                  <input type="checkbox" id="location2" name="location2" value="location2" onchange="hide2()">
                  <label for="location2"> Select from fav location</label><br>
                </div>
              </div>

              <div class="form-check form-switch d-flex align-items-center mb-3" id="addDestFav">
                <input class="form-check-input" type="checkbox" name="addFavouriteLocation" id="addFavLoc" onchange="addInputField()" />
                <input id="favAdd" type="hidden" name="addFavouriteLocation" value="false"/>
                <label class="form-check-label mb-0 ms-2" for="addFavLoc">Add destination to your Favourite locations</label>
              </div>


              <div class="col input-group input-group-outline my-3 d-none" id="destination1">
                <label for="addLabel" class="form-label">Add label: </label>
                <input id="addLabelFav" name="favLocLabel" type="text" class="form-control"
                       th:value="${tripDetails.favouriteLocation.label}"
                       required>
              </div>>


              <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="ModalLabel">Select Location</h1>
                    </div>
                    <div class="modal-body">
                      <div id="map">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-input text-center">
                <label for="scheduledTime">Select Time:</label>
                <input type="time" id="scheduledTime" name="scheduledTime" th:value="*{scheduledTime}"
                       required>
              </div>
              <div class="text-center">
                <input type="submit" value="Find Ride" class="btn bg-gradient-primary w-100 my-4 mb-2" />
              </div>
              <p class="mt-4 text-sm text-center">
                Want To Book A Trip Now?
                <a th:href="@{/passenger/newTrip}"
                   class="text-primary text-gradient font-weight-bold"
                >New Trip</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
        var curModal = -1;
        var map = new MapmyIndia.Map('map', {center: [25.2623590000001, 82.9893520000001], zoom: 15, search: false});

           var options={
                map:map,
                callback:callback_method,
                closeBtn:false,
                topText:false,
                search:false,
                location:{lat:25.2623590000001,lng:82.9893520000001},
            };

            var picker= new MapmyIndia.placePicker(options);
            function callback_method(data) {
            if(curModal===1){
               var lat = document.getElementById("trip.startLatitude");
               var lng = document.getElementById("trip.startLongitude");

               lat.value = data.lat;
               lng.value = data.lng;

               document.getElementsByClassName("col btn btn-primary")[0].style.background="green";
               document.getElementsByClassName("col btn btn-primary")[0].innerHTML="Start location selected";

            }
            else if(curModal===0){
             var lat = document.getElementById("trip.endLatitude");
               var lng = document.getElementById("trip.endLongitude");

               lat.value = data.lat;
               lng.value = data.lng;
               document.getElementsByClassName("col btn btn-primary")[1].style.background="green";
               document.getElementsByClassName("col btn btn-primary")[1].innerHTML="End location selected";
            }
            $('#Modal').modal('hide')
             }
             /*methods
              *
              picker.remove();
              picker.getLocation();
              picker.setLocation({lat:28.8787,lng:77.787877});
              *
              */

              function changeVal(x){
                curModal = x;
              }
    </script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<footer th:replace="components/footer::footer"></footer>
</body>
</html>
