<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="components/head :: head"></head>
  <body>
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a th:href="@{/}">IC<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" th:href="@{/}">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <a class="get-started-btn scrollto" th:href="@{/logout/}">Logout</a>
    </div>
  </header>
  <section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container my-auto">
        <div class="row g-7">
          <div class="col-lg-12 col-md-12 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
              <div class="card-body bg-gradient-secondary text-center">
                <h1>All Trips</h1>
                <div th:if="${passengerTripList eq null or #lists.size(passengerTripList) eq 0}">
                  No Trips found! <br />
                </div>
                <table
                        class="table table-dark table-striped"
                        th:if="${passengerTripList ne null and #lists.size(passengerTripList) ne 0}"
                >
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">tripId</th>
                    <th scope="col">startLatitude</th>
                    <th scope="col">startLongitude</th>
                    <th scope="col">endLatitude</th>
                    <th scope="col">endLongitude</th>
                    <th scope="col">status</th>
                  </tr>
                  </thead>
                  <tbody class="text-white">
                  <div th:each="passengerTrip:${passengerTripList}">
                    <tr>
                      <td th:text="${passengerTrip.tripId}"></td>
                      <td th:text="${passengerTrip.startLatitude}"></td>
                      <td th:text="${passengerTrip.startLongitude}"></td>
                      <td th:text="${passengerTrip.endLatitude}"></td>
                      <td th:text="${passengerTrip.endLongitude}"></td>
                      <td th:if="${passengerTrip.status eq 0}" th:text="Pending"></td>
                      <td th:if="${passengerTrip.status eq 1}" th:text="Running"></td>
                      <td th:if="${passengerTrip.status eq 2}" th:text="Cancelled"></td>
                      <td th:if="${passengerTrip.status eq 3}" th:text="Payment_Pending"></td>
                      <td th:if="${passengerTrip.status eq 4}" th:text="Completed"></td>
                      <td>
                        <a class="btn btn-warning" data-bs-toggle="collapse"
                           th:href="'#collapse'+${passengerTrip.tripId}"
                           role="button"
                           aria-expanded="false"
                           th:aria-controls="'collapse'+${passengerTrip.tripId}">
                          View Details
                        </a>
                      </td>
                      <td>
                        <form method="POST" th:if="${passengerTrip.status eq 0 or passengerTrip.status eq 5}"
                              th:action="@{/passenger/cancel/__${passengerTrip.tripId}__/}">
                          <button type="submit" class="btn btn-danger" >Cancel</button>
                        </form>
                      </td>
                    </tr>
                    <tr class ="collapse" th:id="'collapse'+${passengerTrip.tripId}">

                      <td colspan="12">

                        <div class="row">
                          <div class="col-2"> Start Date</div>
                          <div th:text="${passengerTrip.startDate}"
                               class="col-6"></div>
                        </div>
                        <div class="row">
                          <div class="col-2"> Start Time</div>
                          <div th:text="${passengerTrip.startTime}"
                               class="col-6"></div>
                        </div>
                        <div class="row">
                          <div class="col-2"> End Date</div>
                          <div th:text="${passengerTrip.endDate}"
                               class="col-6"></div>
                        </div>
                        <div class="row">
                          <div class="col-2"> End Time</div>
                          <div th:text="${passengerTrip.endTime}"
                               class="col-6"></div>
                        </div>
                        <div class="row">
                          <div class="col-2"> Driver ID</div>
                          <div th:if="${passengerTrip.driverId ne 0}" th:text="${passengerTrip.driverId}"
                               class="col-6"></div>
                        </div>

                      </td>
                    </tr>
                  </div>




                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
    <script th:replace="components/toast :: toast"></script>
    <footer th:replace="components/footer::footer"></footer>
  </body>
</html>
