<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="components/head::head"></head>
<body class="sign-in-basic">
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a th:href="@{/}">IC<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
<!--        <li><a class="nav-link scrollto active" th:href="@{/}">Home</a></li>-->
<!--        <li><a class="nav-link scrollto" href="#about">About</a></li>-->
<!--        <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>-->
        <li><a th:href="@{/register/driver/}">As Driver</a></li>
<!--        <li class="dropdown"><a th:href="@{/register/passenger/}"><span>Register</span> <i class="bi bi-chevron-down"></i></a>-->
<!--          <ul>-->
<!--&lt;!&ndash;            <li><a th:href="@{/register/passenger/}">As Passenger</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a th:href="@{/register/driver/}">As Driver</a></li>&ndash;&gt;-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <a class="get-started-btn scrollto" th:href="@{/login/}">Login</a>
  </div>
</header>
<div
        class="page-header align-items-start min-vh-100"
        loading="lazy"
>
  <span class="mask bg-light opacity-6"></span>
  <div class="container my-auto">
    <br />
    <div class="row">
      <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-body">
            <div class="text-center">
              <h3>
                InstiCab
                <small class="text-muted">| Register</small>
              </h3>
            </div>
            <form
                    role="form"
                    autocomplete="off"
                    class="text-start"
                    method="POST"
                    th:action="@{/register/passenger}"
                    th:object="${user}"
            >
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Username *</label>
                <input
                        type="text"
                        class="form-control"
                        name="username"
                        th:field="*{username}"
                        required
                />
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Firstname *</label>
                <input
                        type="text"
                        class="form-control"
                        name="firstName"
                        th:field="*{firstName}"
                        required
                />
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Middlename</label>
                <input
                        type="text"
                        class="form-control"
                        name="middleName"
                        th:field="*{middleName}"
                />
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Lastname *</label>
                <input
                        type="text"
                        class="form-control"
                        name="lastName"
                        th:field="*{lastName}"
                        required
                />
              </div>
              <div class="input-group input-group-outline mb-3">
                <label class="form-label">Email *</label>
                <input type="email" class="form-control" name="email" th:field="*{email}" required />
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Phone *</label>
<!--                <input-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        name="phoneNo"-->
<!--                        th:field="*{phoneNo}"-->
<!--                        required-->
<!--                >-->
                <input
                        type="text"
                        class="form-control"
                        name="phoneNo"
                        required
                        th:field="*{phoneNo}"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="10"
                >
              </div>
              <div class="input-group input-group-outline mb-3">
                <label class="form-label">Password *</label>
                <input
                        type="password"
                        class="form-control"
                        name="password"
                        th:field="*{password}"
                        required
                />
              </div>
              <div class="form-check form-switch d-flex align-items-center mb-3">
                <input class="form-check-input" type="checkbox" id="rememberMe" />
                <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
              </div>
              <div class="text-center">
                <input type="submit" value="Register" class="btn bg-gradient-primary w-100 my-4 mb-2" />
              </div>
              <p class="mt-4 text-sm text-center">
                Already have an account?
                <a th:href="@{/login/}" class="text-primary text-gradient font-weight-bold">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="components/footer :: footer"></footer>
</div>
<script th:replace="components/toast :: toast"></script>
</body>
</html>
