<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body>
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a th:href="@{/}">IC<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" th:href="@{/}">Home</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <a class="get-started-btn scrollto" th:href="@{/logout/}">Logout</a>
    </div>
</header>
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container my-auto">
        <div class="row g-7">
            <div class="col-lg-12 col-md-12 col-12 mx-auto">
                <div class="card z-index-0 fadeIn3 fadeInBottom">
                    <div class="card-body bg-gradient-secondary text-center">
                        <h1>All Transactions</h1>
                        <div th:if="${transactionList eq null or #lists.size(transactionList) eq 0}">
                            No Transactions found! <br />
                        </div>
                        <table
                                class="table table-dark table-striped"
                                th:if="${transactionList ne null and #lists.size(transactionList) ne 0}"
                        >
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">transactionId</th>
                                <th scope="col">amount</th>
                                <th scope="col">status</th>
                            </tr>
                            </thead>
                            <tbody class="text-white">
                            <div th:each="transaction:${transactionList}">
                                <tr>
                                    <td th:text="${transaction.transactionId}"></td>
                                    <td th:text="${transaction.amount}"></td>
                                    <td th:if="${transaction.status eq 0}" th:text="Pending"></td>
                                    <td th:if="${transaction.status eq 1}" th:text="Completed"></td>
                                    <td th:if="${transaction.status eq 2}" th:text="Disputed"></td>
                                    <td th:if="${transaction.status eq 4}" th:text="Dispute_Accepted"></td>
                                    <td th:if="${transaction.status eq 3}" th:text="Dispute_Rejected"></td>
                                    <td>
                                        <a class="btn btn-warning" data-bs-toggle="collapse"
                                           th:href="'#collapse'+${transaction.transactionId}"
                                           role="button"
                                           aria-expanded="false"
                                           th:aria-controls="'collapse'+${transaction.transactionId}">
                                            View Details
                                        </a>
                                    </td>
                                    <td>
                                        <form th:if="${transaction.status eq 0  }" method="POST"
                                              th:action="@{/passenger/coupon/}">
                                            <input type="hidden" name="amountToPay" th:value="${transaction.amount}" />
                                            <button type="submit" class="btn btn-info" >Use Coupon</button>
                                        </form>
                                        <form th:if="${transaction.status eq 3  }" method="POST"
                                              th:action="@{/passenger/coupon/}">
                                            <input type="hidden"
                                                   name="transactionId" th:value="${transaction.transactionId}" />
                                            <input type="hidden" name="amountToPay" th:value="${transaction.amount}" />
                                            <button type="submit" class="btn btn-info" >Use Coupon</button>
                                        </form>
<!--                                        <a th:href="@{/passenger/coupon/}" class="btn bg-gradient-primary w-auto me-2">Use Coupon</a>-->
                                    </td>
                                    <td>
                                        <form th:if="${transaction.status eq 0}" method="POST"
                                              th:action="@{/checkout/}">
                                            <input type="hidden"
                                                   name="transactionId" th:value="${transaction.transactionId}" />
                                            <input type="hidden" name="amountToPay" th:value="${transaction.amount}" />
                                            <button type="submit" class="btn btn-success" >Pay</button>
                                        </form>
                                        <form th:if="${transaction.status eq 3}" method="POST"
                                              th:action="@{/checkout/}">
                                            <input type="hidden" name="amountToPay" th:value="${transaction.amount}" />
                                            <button type="submit" class="btn btn-success" >Pay</button>
                                        </form>
                                        <a th:if="${transaction.status eq 0}" class="btn btn-warning"
                                           data-bs-toggle="collapse"
                                           th:href="'#collapse2'+${transaction.transactionId}"
                                           role="button"
                                           aria-expanded="false"
                                           th:aria-controls="'collapse2'+${transaction.transactionId}">
                                            Raise Dispute
                                        </a>
                                    </td>
                                </tr>
                                <tr class ="collapse" th:id="'collapse2'+${transaction.transactionId}">

                                    <td colspan="12">

                                        <form method="POST"
                                              th:action="@{/admin/disputes/raise/__${transaction.transactionId}__/}">
                                            <div class="input-group input-group-outline my-3">
                                                <label class="form-label">Dispute Description *</label>
                                                <input type="text" class="form-control" name="description"
                                                       th:value="${dispute.description}" required />
                                            </div>
                                            <button type="submit" class="btn btn-danger" >Raise Dispute</button>
                                        </form>

                                    </td>
                                </tr>
                                <tr class ="collapse" th:id="'collapse'+${transaction.transactionId}">

                                    <td colspan="12">

                                        <div class="row">
                                            <div class="col-2"> Transaction Date</div>
                                            <div th:text="${transaction.dateTransaction}"
                                                 class="col-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2"> Transaction Time</div>
                                            <div th:text="${transaction.timeTransaction}"
                                                 class="col-6"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-2"> Transaction Status</div>
                                            <div th:text="${transaction.status}"
                                                 class="col-6"></div>
                                        </div>

                                    </td>
                                </tr>
                            </div>




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
</body>
</html>